body {
  background-color: hsl(218, 23%, 16%);
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 700;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: 32px;
  padding-top: 20px;
  text-align: center;
}

.app-body {
  background-color: hsl(217, 19%, 38%);
  border-radius: 10px;
  display: block;
  margin: 200px auto;
  max-width: 550px;
  height: 350px;
}

#advice-text {
  text-align: center;
  margin-top: 75px;
}

.btn-custom {
  font-size: 18px;
  background-color: hsl(150, 100%, 66%);
  border-radius: 15px;
  display: block;
  margin: 130px auto;
}

.btn-custom:hover {
  background-color: hsl(150, 100%, 66%);
  box-shadow: 1px 1px 20px hsl(150, 100%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
